#header {
	background: black;
	background: url(./images/header.png);
	background-size: cover;
	background-position: center;
	min-height: 600px;
	height: 600px;
	padding: 0px;
}

#header .future {
	background: #fff;
	background: black;
	background: url(./images/bg.png?12311);
	background-size: cover;
	background-position: right;
	color: #000;
}

#header .future h2 {
	/*text-shadow: 0 0 5px rgba(255,255,255,.8), 0 0 2px rgba(255,255,255,1), 0 0 2px rgba(50,250,200,1);*/
	color: #888;
}

#header .printer {
	background: black;
	background: url(./images/future.jpg);
	background-size: cover;
	background-position: center;
}

#header h1 {
	font-size: 55px;
	text-transform: uppercase;
}

#header h2 {
	font-size: 28px;
	text-transform: uppercase;
}

#header .carousal {
	padding: 0px;
}

.carousal button.slick-arrow {
	z-index: 1000;
}

.carousal button.slick-arrow.slick-prev {
	left: 20px;
}

.carousal button.slick-arrow.slick-next {
	right: 20px;
}

#about p {
	font-size: 20px;
}

#map {
	padding: 0px;
	margin: 0px;
}

#contact {
	margin: 0px;
}
